<div class="mb-8 p-6 bg-gray-50 rounded-lg border-l-4 border-blue-500">
  <h3 class="text-lg font-semibold text-gray-800 mb-4">{{ questionNumber }}. {{ question.question }}</h3>
  
  <div class="space-y-2 mb-4">
    <div *ngFor="let option of question.options; let j = index" class="text-gray-700">
      {{ getOptionLabel(j) }}. {{ option }}
    </div>
  </div>
  
  <div class="p-3 bg-green-100 border border-green-200 rounded-md">
    <span class="text-green-800 font-medium">
      Correct Answer: {{ getOptionLabel(question.correctAnswerIndex) }}
    </span>
  </div>
</div> 
